In [76]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np

In [77]:
df = pd.read_csv("../data/raw/bank-additional-full.csv", delimiter=";")
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [78]:
df.shape

(41188, 21)

Rename columns with . in their names

In [79]:
df = df.rename(columns={'emp.var.rate': 'emp_var_rate'})

In [80]:
df = df.rename(columns={'cons.price.idx': 'cons_price_idx'})

In [81]:
df = df.rename(columns={'cons.conf.idx': 'cons_conf_idx'})

In [82]:
df = df.rename(columns={'nr.employed': 'nr_employed'})

Drop duration

In [83]:
df = df.drop("duration", axis=1)
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [84]:
df.nr_employed.unique()

array([5191. , 5228.1, 5195.8, 5176.3, 5099.1, 5076.2, 5017.5, 5023.5,
       5008.7, 4991.6, 4963.6])

In [85]:
df.emp_var_rate.unique()

array([ 1.1,  1.4, -0.1, -0.2, -1.8, -2.9, -3.4, -3. , -1.7, -1.1])

In [86]:
df = df.drop_duplicates()
df.shape

(39404, 20)

In [87]:
df = df.dropna()

# Set impute strategy

In [88]:
impute_missing = SimpleImputer(missing_values="unknown", strategy="most_frequent")

# Now, for each columns check the values. If we have "unknown" value we can delete the row or impute it. In case the procentage of the "unknown" values is greater than 10% -> impute, otherwise -> delete.

In [89]:
df.job.value_counts()

admin.           9873
blue-collar      8835
technician       6404
services         3801
management       2820
retired          1683
entrepreneur     1405
self-employed    1386
housemaid        1028
unemployed        992
student           852
unknown           325
Name: job, dtype: int64

In [90]:
df = df.drop(df[df.job == "unknown"].index)
df.shape

(39079, 20)

In [91]:
df.marital.value_counts()

married     23639
single      10923
divorced     4447
unknown        70
Name: marital, dtype: int64

In [92]:
df = df.drop(df[df.marital == "unknown"].index)
df.shape

(39009, 20)

In [93]:
df.default.value_counts()

no         30898
unknown     8108
yes            3
Name: default, dtype: int64

In [94]:
df["default"] = impute_missing.fit_transform(df[["default"]])
df.default.value_counts()

no     39006
yes        3
Name: default, dtype: int64

In [95]:
df.loan.value_counts()

no         31923
yes         6112
unknown      974
Name: loan, dtype: int64

In [96]:
df = df.drop(df[df.loan == "unknown"].index)
df.shape

(38035, 20)

In [97]:
df.housing.value_counts()

yes    20365
no     17670
Name: housing, dtype: int64

In [98]:
df = df.drop(df[df.housing == "unknown"].index)
df.shape

(38035, 20)

In [99]:
df.age.value_counts()

31    1774
32    1699
33    1674
36    1624
35    1613
      ...
89       2
91       2
87       1
94       1
95       1
Name: age, Length: 78, dtype: int64

In [100]:
df.education.value_counts()

university.degree      11219
high.school             8853
basic.9y                5599
professional.course     4875
basic.4y                3820
basic.6y                2134
unknown                 1517
illiterate                18
Name: education, dtype: int64

In [101]:
df = df.drop(df[df.education == "unknown"].index)
df.shape

(36518, 20)

In [102]:
df.contact.value_counts()

cellular     23012
telephone    13506
Name: contact, dtype: int64

In [103]:
df.month.value_counts()

may    12356
jul     6177
aug     5372
jun     4775
nov     3709
apr     2342
oct      649
sep      496
mar      482
dec      160
Name: month, dtype: int64

In [104]:
df.day_of_week.value_counts()

mon    7611
thu    7603
wed    7237
tue    7110
fri    6957
Name: day_of_week, dtype: int64

In [105]:
df.duration.value_counts()

AttributeError: 'DataFrame' object has no attribute 'duration'

In [ ]:
df.campaign.value_counts()

In [ ]:
df.pdays.value_counts()

In [ ]:
df.previous.value_counts()

In [ ]:
df.poutcome.value_counts()

In [ ]:
df.columns

In [ ]:
df.emp_var_rate.value_counts()

In [ ]:
df.cons_price_idx.value_counts()

In [ ]:
df.cons_conf_idx.value_counts()

In [ ]:
df.euribor3m.value_counts()

In [ ]:
df.nr_employed.value_counts()

In [ ]:
df.y.value_counts()

In [ ]:
df

In [ ]:
df.to_csv("../data/clean/bank-additional-clean.csv", index=False)
df